@font-face {
  font-family: "iconfont"; /* Project id 2546630 */
  src: url('//at.alicdn.com/t/font_2546630_2cu9nx4yjx8.woff2?t=1622949545633') format('woff2'),
       url('//at.alicdn.com/t/font_2546630_2cu9nx4yjx8.woff?t=1622949545633') format('woff'),
       url('//at.alicdn.com/t/font_2546630_2cu9nx4yjx8.ttf?t=1622949545633') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuozhe:before {
  content: "\e62c";
  margin-right: 3px;
}

.icon-tupian1:before {
  content: "\e601";
}

.icon-huifu:before {
  content: "\e7a5";
}

.icon-fensi:before {
  content: "\e629";
}

.icon-gerenzhuye:before {
  content: "\e6c7";
}

.icon-shezhi:before {
  content: "\e603";
}

.icon-guangchang:before {
  content: "\e6c5";
}

.icon-guanzhuren:before {
  content: "\e653";
}

.icon-index:before {
  content: "\e600";
}
